
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 100px;
    height: 40px;    
}
hr{
    width: 90%;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
  
}
body{
    background-color:rgb(102, 101, 101)
}
a{
    text-decoration: none;
    border: none;
}
li{
    list-style: none;
    border: none;
}

/*header*/

header{
    width: 100%;
    height: 500px;
    background: url(https://i.pinimg.com/originals/aa/eb/12/aaeb1203f983f44d5009800a3aa9e346.jpg)no-repeat center center/cover;
}
header a{
    color:rgb(255, 255, 255)
}
header hr{
    border: 2px solid transparent;
}

/*follow*/
.follow{
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    
}
.follow i{
    font-size: 30px;
}
.follow i:hover{
 color: rgb(77, 87, 87);
}

/*nav principal */
.inicio-sub{
    background-color: rgb(255, 255, 255, 0.4);
}
.nav-principal{
   
    background-color: rgb(0, 0, 0, 0.3);
    width: 32%;
}

/*nav principal (menu)*/
.menu{
    
    display: flex;
    
}
.menu li a{
    
    padding: 10px;
    display: block;
}
.menu li a:hover{
    color: rgb(77, 87, 87);
    
}
.menu li ul a:hover{
    color: #f5deb3;
}
.menu > li{
    float: left;
}
.menu li ul{
    border-radius:30px;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul{
    display: block;

}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right:-140px;
    top: 0px;
}
/*search*/
.search{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: rgb(255, 255, 255, 0.7);
}
.search input{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
}

/*nav-inicio*/
.inicio a:hover{
    color: rgb(255, 255, 255, 0.4);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.inicio-sub2{
    border-bottom: 1px solid white;
}
.inicio ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
    align-content: center;
}
    
/*contenedor*/
.contenedor2{
    padding: 10px;
}

/*showcase*/
.showcase{  
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 400px;    
    background-image:url(https://i.pinimg.com/originals/3e/fb/57/3efb579c6eda16c349cad25b52999774.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*ccontenedor2*/
.contenedor2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;

    
}
/*aside*/
.aside1{
    width: 220px;
    animation-name: aside;
    animation-duration: 7s ;
    animation-iteration-count: infinite;
    
}

.aside1 div{
    max-height: 90%;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255, 0.2);
}
aside a{
    color: rgb(255, 255, 255)
}
.aside1 p{
    color:rgb(10, 10, 10);
        height: 510px;
        overflow: scroll;
        overflow-x: hidden;
}
.aside1 p::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 20px;  

    
}

.aside1 p::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0,0.3);
    border-radius: 4px;
   color:black;
    display:none;
}
.aside1 p::-webkit-scrollbar-thumb:hover{
    display: inline-block;
}

@keyframes aside{
    0%{background: rgb(75, 136, 126,0.5);}
    50% {background-color:rgb(209, 128, 52,0.5);}
    100% {background-color:rgb(248, 208, 123,0.5);} 
}

.aside2{
    width: 220px;
   
    background:rgb(0, 0, 0, 0.3);
    padding: 20px;
}
.aside2 p{
    color: rgb(255, 255, 255);
}
.aside2 h2, h3{
    color: rgb(0, 0, 0); 
}
.aside2 h2{
    text-align: center;
}

/*cards*/
.cards h2{
    width: 100%;
    padding:10px;
    background-color: rgba(161, 94, 30, 0.4);
      color: rgb(0, 0, 0);
}
.cards p{
    color: rgb(255, 255, 255);
    width: 100%;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.4);
}
.cards hr{
    border:1px solid transparent;
}
.cards a{
    color: rgb(0, 0, 0)
}
.cards li{
    margin: 10px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.cards section{
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
    align-content: center;
    margin-right:10px;
    margin-left: 10px;
    width: 300px;
    height:250px;
}

.cards img{
    margin: auto;
   width: 299px;
   height: 200px;
}

/*footer*/
.f-menu {
    padding: 20px 0 20px 0;
    background-color: rgb(0, 0, 0,0.6);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.f-menu li{
    padding:5px;
    
}
.f-menu ul{
    margin:5px
}
.f-menu  h2{
    color: rgb(255, 255, 255);
}
.f-menu  a, p{
    color: rgb(255, 255, 255, 0.4);
}
.f-menu  a:hover{
    color: rgb(255, 255, 255);
}
.left{
    padding-left: 20px;
    border-left: 1px solid rgb(255, 255, 255);
}
.left h3{
    color: rgb(194, 189, 189);
}
.final-f{
    padding:10px 0 10px 0;
    color:rgb(66, 63, 60);
    background-color: rgb(209, 128, 52,0.7);
    text-align: center;
}
.final-f p{
    color:rgb(66, 63, 60);
}